################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/Win32/Debug
*.db
/neo/amplitude/Debug
/neo/ipch
*.opendb
*.user
/base/renderprogs/glsl
